footer
    background-color: $marinho
    .rights
        display: flex
        justify-content: center
        color: $branco
        padding-top: 30px
        flex-wrap: wrap
        sourcesans 13
    img
        margin-right: auto
        margin-left: auto
        display: block
        margin-top: 30px
        padding-bottom: 40px