header {
    .external {
        position: relative;

        .ajuste {
            display: flex;
            position: absolute;

            .bege {
                background-color: $begeMedio;
                width: 100px;
                height: auto;

                +below(800px) {
                    display: none;
                }
            }

            .imagem {
                background-image: $img('img-cabecalho2.png');
                background-repeat: no-repeat;
                height: 200px;
                width: 500px;
                background-size: contain;
                background-position-x: 0;

                +below(800px) {
                    background-position-x: -100px;
                    width: 350px;
                }

                +below(360px) {
                    width: 290px;
                }

                .img {
                    background-color: $branco;
                    background-image: $img('marca-SBC-selo.svg');
                    border-radius: 100%;
                    background-repeat: no-repeat;
                    background-position-y: 21px;
                    background-position-x: center;
                    background-size: 75%;
                    height: 160px;
                    width: 160px;
                    margin-right: 25px;
                    margin-left: auto;
                    margin-top: 20px;

                    +below(800px) {
                        margin-right: 60px;
                    }
                }
            }
        }

        .superior {
            background-color: $verdeMusgo;
            padding-left: 700px;

            +below(1100px) {
                padding-left: 0;
                padding-top: 156px;
                margin-left: auto;
                margin-right: auto;
            }

            .info {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-bottom: 35px;

                +below(1470px) {
                    padding-bottom: 50px;
                }

                +below(800px) {
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    justify-content: center;
                }

                h1 {
                    color: $branco;
                    sourcesans: 36;
                    font-style: italic;
                    font-weight: 600;
                    padding-top: 75px;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-left: 20px;
                    padding-right: 20px;

                    +below(800px) {
                        sourcesans: 25;
                        font-weight: 600;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }

                .account {
                    margin-right: 19%;

                    +below(800px) {
                        margin-right: 0;
                    }

                    .flex {
                        display: flex;
                        margin-top: 25px;
                        margin-bottom: 35px;
                        justify-content: flex-end;

                        button {
                            background-color: transparent;
                            border: 0;
                            color: white;
                            sourcesans: 12;
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                            padding-top: 2px;
                            cursor: pointer;
                        }

                        p {
                            margin: 0;
                            color: $branco;
                            sourcesans: 12;
                            font-weight: 300;
                        }

                        a {
                            color: $branco;
                            sourcesans: 12;
                            font-weight: 400;
                            margin-top: 0;
                            margin-left: 10px;
                            align-items: center;
                        }

                        img {
                            margin-left: 7px;
                            background-color: darkred;
                            height: 12px;
                            border-radius: 100%;
                            padding: 2px;
                        }
                    }

                    .search {
                        position: relative;

                        input {
                            height: 35px;
                            width: 300px;
                            border: 0;
                            border-radius: 5px;
                            sourcesans: 16;
                            color: $verdeMusgo;
                            background-color: $begeMedio;
                            padding-left: 20px;
                            font-weight: 600;

                            &::placeholder {
                                sourcesans: 16;
                                color: $verdeMusgo;
                                font-weight: 400;
                            }

                            +below(800px) {
                                width: 100%;
                            }
                        }

                        button {
                            width: 35px;
                            height: 35px;
                            outline: none;
                            border: none;
                            background-color: transparent;
                            position: absolute;
                            top: 0;
                            right: 5px;
                            padding: 0;
                            cursor: pointer;
                        }

                        img {
                            height: 22px;
                            transition: transform 0.1s ease;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }

        .inferior {
            background-color: $branco;

            nav {
                padding-left: 650px;
                display: flex;
                margin-top: 20px;

                +below(1470px) {
                    padding-left: 0;
                    justify-content: center;
                }

                +below(900px) {
                    display: block;
                }

                .menu {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    padding-left: 20px;
                    padding-right: 20px;
                    vertical-align: middle;
                    color: $verdeMusgo;
                    sourcesans: 18;
                    font-weight: 700;

                    +below(850px) {
                        sourcesans: 15;
                        font-weight: 700;
                    }
                }

                .active {
                    background-color: $begeClaro;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    position: relative;

                    &:before {
                        content: '';
                        width: 90%;
                        background-color: $vinho;
                        position: absolute;
                        top: -2px;
                        left: 50%;
                        height: 3px;
                        transform: translateX(-50%);

                        +below(900px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
