html, body {
    height: 100%;
    font-family: 'Noto Sans JP', 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: $branco;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

    main {
        width: 100%;
        height: auto;
        background-color: $branco;
        min-height: calc('100% - 180px - 490px');

        +below($tablet) {
            min-height: calc('100% - 120px - 400px');
        }

        +mobile() {
            min-height: calc('100% - 90px - 800px');
        }
    }
}

.aviso-cookies {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
    padding: 30px;

    +mobile() {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .frase-cookies {
        width: 65%;
        sourcesans(16);
        color: $branco;
        margin: 0;

        .link-politica {
            text-decoration: underline;

            &:hover, &:focus {
                font-weight: bold;
            }
        }

        +below($tablet) {
            font-size: 14px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
        }
    }

    .aceitar-cookies {
        width: 15%;
        height: 40px;
        sourcesans(16);
        color: $branco;
        background-color: transparent;
        border: 1px solid $branco;
        border-radius: 0;
        margin-left: 30px;
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            border: 1px solid $vinho;
            background-color: $vinho;
        }

        +below($tablet) {
            font-size: 14px;
            height: 30px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 10px;
        }
    }
}

.flash {
    display: flex;
    color: white;
    border-radius: 4px;
    height: auto;
    sourcesans: 14;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    padding: 5px 10px;

    > p {
        margin: 0;
        passgin: 0;
        text-align: center;
        line-height: 1.2;
    }
}

.flash-erro {
    background-color: darkred;
}

.flash-sucesso {
    background-color: rgb(22, 148, 89);
}
