hr {
    margin: 0;
}

.alunos {
    background-color: $begeClaro;
    padding-top: 30px;
    padding-bottom: 150px;

    .center2 {
        width: 80%;
        margin: 0 auto;

        .flash-repetidos {
            background-color: #efa43d;
        }

        .flash-erros {
            background-color: #8B0000;
        }

        .tabela {
            margin-bottom: 10px;

            .cabec {
                padding: 30px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                +below(600px) {
                    row-gap: 30px;
                    flex-direction: column;
                    margin-bottom: 20px;
                }

                h1 {
                    margin: 0;
                    color: $verdeMusgo;
                    sourcesans: 24;
                    font-weight: 700;
                }

                .btns-alunos {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    form {
                        .btn-upload-excel {
                            margin-right: 10px;
                            background-color: $verdeMusgo;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 40px;
                            width: 160px;
                            sourcesans: 16;
                            font-weight: 700;
                            color: $branco;
                            border-radius: 5px;
                            border: none;
                            transition: all 0.5s;

                            &:hover {
                                transform: scale(1.05);
                            }
                        }

                        .info-importar {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            position: absolute;
                            right: 10%;
                            margin: 5px 0;

                            .doc-selecionado {
                                margin: 0 5px 0 0;
                                sourcesans: 14;
                            }

                            .btn-importar {
                                background-color: $begeEscuro;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 30px;
                                width: 100px;
                                sourcesans: 14;
                                font-weight: 500;
                                color: $branco;
                                border-radius: 5px;
                                border: none;
                                transition: all 0.5s;

                                &:hover {
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }

                    .cadastro {
                        background-color: $verdeMusgo;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 40px;
                        width: 150px;
                        sourcesans: 16;
                        font-weight: 700;
                        color: $branco;
                        border-radius: 5px;
                        transition: all 0.5s;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }

            h4.termo {
                sourcesans: 18;
                color: $verdeMusgo;

                span {
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            .line {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                align-content: center;
                padding: 10px 0;

                +below(1350px) {
                    flex-direction: column;
                    align-items: center;
                    row-gap: 15px;
                }

                .flex {
                    width: 47%;
                    display: flex;
                    column-gap: 10px;
                    padding: 0 10px;
                    align-items: center;
                    flex-wrap: wrap;

                    +below(1350px) {
                        align-items: center;
                        justify-content: center;
                    }

                    .reg {
                        width: 100px;
                        sourcesans: 16;
                        font-weight: 600;
                        margin: 0;

                        &.header {
                            font-size: 12px;
                            font-style: italic;
                        }
                    }

                    .text {
                        width: calc('100% - 100px - 70px');
                        sourcesans: 16;
                        font-weight: 600;
                        margin: 0;

                        &.header {
                            font-size: 12px;
                            font-style: italic;
                        }

                        +below(1350px) {
                            width: auto;
                        }
                    }
                }

                .flex2 {
                    width: 43%;
                    display: flex;
                    column-gap: 10px;
                    padding-left: 10px;
                    align-items: center;

                    +below(1350px) {
                        align-items: center;
                        width: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                    }

                    .name {
                        sourcesans: 16;
                        font-weight: 600;
                        margin: 0;

                        &.cpf {
                            min-width: 105px;
                        }

                        &.header {
                            font-size: 12px;
                            font-style: italic;
                        }

                        +below(1350px) {
                            text-align: center;
                        }
                    }
                }

                .botoes {
                    width: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    +below(1000px) {
                        margin-bottom: 10px;
                    }

                    .btn-show, .btn-edit, .btn-delete {
                        width: 40px;
                    }

                    .editar {
                        height: 23px;
                        margin: 0 5px;
                        object-fit: contain;
                        cursor: pointer;
                        transition: transform 0.1s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    .sair {
                        height: 23px;
                        background-color: darkred;
                        padding: 4px;
                        border-radius: 100%;
                        margin: 0 5px;
                        object-fit: contain;
                        cursor: pointer;
                        transition: transform 0.1s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                &.resultado {
                    background-color: transparent;
                    transition: background 0.3s ease-in-out;

                    &:hover {
                        background-color: $begeMedio;
                    }
                }
            }
        }

        .pages {
            padding-bottom: 90px;

            .pagination {
                display: flex;
                justify-content: center;
                align-items: center;

                li:first-child, li:last-child {
                    display: none;
                }

                li {
                    column-gap: 15px;
                    margin-top: 80px;
                    list-style: none;
                    color: $branco;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    background-color: $begeMedio;
                    width: 20px;
                    height: 20px;
                    sourcesans: 16;
                    font-weight: 900;
                    margin-right: 3px;

                    &:hover {
                        color: $marinho;
                    }
                }

                .active {
                    color: $marinho;
                    cursor: default;
                }
            }
        }
    }

    .fichaD {
        .cabec {
            padding-top: 50px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            align-items: center;

            h1 {
                margin: 0;
                color: $verdeMusgo;
                sourcesans: 24;
                font-weight: 700;
            }
        }

        .card {
            background-color: $branco;
            max-width: 900px;

            .wrapper {
                padding-top: 65px;

                .campo {
                    position: relative;
                    max-width: 100%;
                    margin-bottom: 30px;

                    input {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        height: 40px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 89%;
                        margin: 0 auto;
                        display: block;
                    }

                    .label {
                        position: absolute;
                        top: -17px;
                        left: 60px;
                        z-index: 1;
                        sourcesans: 12;
                    }
                }

                .botoes {
                    display: flex;
                    column-gap: 10px;
                    margin-top: 10px;
                    padding-bottom: 50px;
                    margin-left: 5.5%;

                    +below(600px) {
                        flex-direction: column;
                        row-gap: 20px;
                        align-items: center;
                        margin: 0;
                    }

                    .button_voltar {
                        background-color: $begeEscuro;
                        height: 40px;
                        color: $branco;
                        sourcesans: 16;
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        width: 150px;
                        transition: 0.5s all;

                        &:hover {
                            background-color: $marinho;
                        }
                    }

                    .button_insere {
                        background-color: $verdeMusgo;
                        height: 40px;
                        color: $branco;
                        sourcesans: 16;
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        width: 150px;
                        transition: 0.5s all;
                        border: 0;
                        cursor: pointer;

                        &:hover {
                            background-color: $marinho;
                            transform: scale(1.04);
                        }
                    }
                }
            }
        }
    }

    .fichaD2 {
        width: 1200px;
        margin: 0 auto;

        +below(1200px) {
            width: 90%;
        }

        .cabec {
            padding-top: 50px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            align-items: center;

            h1 {
                margin: 0;
                color: $verdeMusgo;
                sourcesans: 24;
                font-weight: 700;
            }
        }

        .print {
            display: flex;
            width: 1201px;
            margin-bottom: 30px;
            padding-top: 30px;
            column-gap: 1px;

            +below(1400px) {
                flex-direction: column;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }

            .certified {
                width: 600px;
                background-color: $branco;
                border: 1px solid lightgray;
                min-height: 365px;

                .detail_blue {
                    background-color: $marinho;
                    height: 10px;
                    width: 100%;
                }

                .detail_vinho {
                    background-color: $vinho;
                    height: 10px;
                    width: 600px;
                    margin: -1px;
                    position: relative;
                    z-index: 1;
                }

                .imgs {
                    margin-top: 15px;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    height: 90px;
                    width: 550px;
                    column-gap: 35px;
                }

                .infos {
                    margin-left: 152px;
                    margin-top: 10px;
                    margin-bottom: 20px;

                    .nome {
                        sourcesans: 18;
                        font-weight: 700;
                        margin-top: 0;
                        margin-bottom: 0;
                        text-transform: uppercase;
                    }

                    .subtrace {
                        sourcesans: 11;
                        margin-top: 0;
                        margin-bottom: 15px;
                    }

                    .curso {
                        sourcesans: 14;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }

                .cert_rodape {
                    width: 570px;
                    height: 121px;
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 10px;
                    column-gap: 20px;

                    .QRCODE {
                        height: 100%;
                        width: 120px;
                    }

                    .veracidade {
                        width: 430px;

                        .val {
                            display: flex;
                        }

                        .box_1 {
                            border: solid 1px lightgrey;
                            width: 145px;
                            padding: 5px;
                            padding-left: 10px;

                            .label {
                                sourcesans: 9;
                                margin-top: 0;
                                margin-bottom: 0;
                            }

                            .date {
                                sourcesans: 14;
                                margin-top: 0;
                                margin-bottom: 0;
                                text-transform: uppercase;
                            }
                        }

                        .box_2 {
                            border: solid 1px lightgrey;
                            border-left: 0;
                            width: 145px;
                            padding: 5px;
                            padding-left: 10px;

                            .label {
                                sourcesans: 9;
                                margin-top: 0;
                                margin-bottom: 0;
                            }

                            .date {
                                sourcesans: 14;
                                margin-top: 0;
                                margin-bottom: 0;
                                text-transform: uppercase;
                            }
                        }

                        .consulte {
                            sourcesans: 10;
                            width: 300px;
                            margin-top: 30px;
                        }
                    }
                }

                .body {
                    display: flex;
                    column-gap: 40px;
                    justify-content: center;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    align-items: flex-end;

                    .table {
                        width: 430px;

                        .box_3 {
                            padding: 7px;
                            border: solid 1px lightgrey;

                            .label {
                                sourcesans: 9;
                                margin: 0;
                            }

                            .text {
                                sourcesans: 14;
                                margin: 0;
                                line-height: 1.3;
                                text-transform: uppercase;
                            }
                        }
                    }

                    .release {
                        width: 95px;
                        sourcesans: 9;
                        font-weight: 700;
                        text-align: center;
                        color: $marinho;
                    }
                }
            }
        }

        .buttons {
            .red_button {
                background-color: $vinho;
                height: 40px;
                color: $branco;
                sourcesans: 16;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                width: 300px;
                transition: 0.5s all;
                margin-bottom: 30px;

                &:hover {
                    background-color: $marinho;
                    transform: scale(1.04);
                }

                +below(450px) {
                    width: 100%;
                }

                img {
                    padding-left: 8px;
                    height: 15px;
                }
            }
        }
    }

    .wrapper2 {
        width: 1200px;
        margin: 0 auto;

        .button_voltar {
            background-color: $begeEscuro;
            height: 40px;
            color: $branco;
            sourcesans: 16;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            width: 150px;
            transition: 0.5s all;

            &:hover {
                background-color: $marinho;
            }
        }
    }
}

.button_editar_cadastro {
    background-color: $verdeMusgo;
    margin-left: 5.5%;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 0;
    height: 40px;
    color: $branco;
    sourcesans: 16;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}