.externa {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 170px;

    .imagem {
        background-image: $img('img-cabecalho.png');
        background-repeat: no-repeat;
        height: 420px;
        width: 740px;
        position: relative;
        background-size: cover;
        background-position-x: -130px;

        +below(740px) {
            background-position-x: -300px;
        }

        .img {
            position: absolute;
            background-color: $branco;
            background-image: $img('marca-SBC-selo.svg');
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position-y: 21px;
            background-position-x: center;
            background-size: 75%;
            height: 180px;
            width: 180px;
            top: 130px;
            right: 1px;
            z-index: 2;

            +below(740px) {
                left: 25px;
                height: 100px;
                width: 100px;
                background-position-y: center;
            }
        }

        .menus {
            display: flex;
            position: absolute;
            bottom: -40px;
            left: 220px;
            align-items: center;

            +below(600px) {
                left: 25px;
            }

            p {
                sourcesans: 12;
                color: darkblue;
            }

            .out {
                font-weight: 900;
            }

            .sair {
                height: 15px;
                background-color: darkred;
                padding: 3px;
                border-radius: 100%;
                margin-left: 5px;
            }
        }
    }

    .father {
        width: 600px;
        margin-right: auto;
        margin-left: auto;

        +below(740px) {
            width: 90%;
        }

        h1 {
            sourcesans: 36;
            font-weight: 900;
            font-style: italic;
            color: $marinho;
            margin-top: 45px;
            margin-bottom: 10px;
            text-align: center;

            +below(740px) {
                sourcesans: 28;
                font-weight: 900;
            }
        }

        p {
            sourcesans: 18;
            font-weight: 900;
            font-style: italic;
            color: $marinho;
            text-align: center;
            margin-top: 0;
            margin-bottom: 15px;

            +below(740px) {
                width: 90%;
                sourcesans: 17;
                font-weight: 900;
            }
        }

        .politica {
            h2 {
                sourcesans: 25;
                font-weight: 700;
                font-style: normal;
                color: $marinho;
                margin-top: 45px;
                margin-bottom: 10px;
                text-align: left;

                +below(740px) {
                    sourcesans: 28;
                    font-weight: 900;
                }
            }

            h3 {
                sourcesans: 22;
                font-weight: 700;
                font-style: normal;
                color: $marinho;
                margin-top: 45px;
                margin-bottom: 10px;
                text-align: left;

                +below(740px) {
                    sourcesans: 28;
                    font-weight: 900;
                }
            }

            p {
                sourcesans: 18;
                color: $marinho;
                margin-top: 0;
                margin-bottom: 15px;
                text-align: left;
                font-style: normal;

                +below(740px) {
                    width: 90%;
                    sourcesans: 17;
                }
            }
        }

        .logs {
            width: 100%;
            height: 280px;
            background-color: $begeMedio;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $preto;
            sourcesans: 13;
            font-weight: 600;

            form {
                +below(740px) {
                    width: 90%;
                }
            }

            input {
                border: 0;
                height: 35px;
                width: 400px;
                display: block;
                border-radius: 5px;
                padding: 0 20px;

                +below(740px) {
                    width: 100%;
                }
            }

            label {
                text-align: center;
                display: block;
                margin-bottom: 5px;
                margin-top: 15px;
            }

            button {
                margin-top: 15px;
                margin-bottom: 28px;
                display: flex;
                width: 200px;
                height: 35px;
                background-color: $begeEscuro;
                justify-content: center;
                align-items: center;
                color: $branco;
                sourcesans: 16;
                font-weight: 600;
                border-radius: 5px;
                border: 0;
                cursor: pointer;
                margin-left: auto;
                margin-right: auto;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.05);
                }
            }

            a {
                text-align: center;
                display: block;
            }
        }

        .logs2 {
            width: 100%;
            height: 280px;
            background-color: $begeMedio;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $preto;
            sourcesans: 13;
            font-weight: 600;
            form {
                // coment
                +below(740px) {
                    width: 90%;
                }
            }

            input {
                border: 0;
                height: 35px;
                width: 400px;
                display: block;
                border-radius: 5px;
                padding-left: 20px
                padding-right: 20px
                +below(740px) {
                    width: 100%;
                }
            }

            label {
                text-align: center;
                display: block;
                margin-bottom: 5px;
                margin-top: 15px;
            }

            button {
                margin-top: 15px;
                margin-bottom: 28px;
                display: flex;
                width: 200px;
                height: 35px;
                background-color: $begeEscuro;
                justify-content: center;
                align-items: center;
                color: $branco;
                sourcesans: 16;
                font-weight: 600;
                border-radius: 5px;
                border: 0;
                cursor: pointer;
                margin-left: auto;
                margin-right: auto;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.05);
                }
            }

            .flex_log {
                display: flex;
                justify-content: center;
                column-gap: 10px;
            }

            a {
                text-align: center;
                display: block;
            }
        }

        .logs3 {
            width: 100%;
            // height: 425px
            background-color: $begeMedio;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $preto;
            sourcesans: 13;
            font-weight: 600;

            h2 {
                sourcesans: 16;
                font-weight: 600;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            form {
                +below(740px) {
                    width: 90%;
                }
            }

            input {
                border: 0;
                height: 35px;
                width: 400px;
                display: block;
                border-radius: 5px;
                margin: 0 auto;
                padding-left: 20px;
                padding-right: 20px;
                +below(740px) {
                    width: 100%;
                }
            }

            label {
                text-align: center;
                display: block;
                margin-bottom: 5px;
                margin-top: 15px;
            }

            button {
                margin-top: 20px;
                margin-bottom: 28px;
                display: flex;
                width: 200px;
                height: 35px;
                background-color: $begeEscuro;
                justify-content: center;
                align-items: center;
                color: $branco;
                sourcesans: 16;
                font-weight: 600;
                border-radius: 5px;
                border: 0;
                cursor: pointer;
                margin-left: auto;
                margin-right: auto;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.05);
                }
            }

            .flex_log {
                display: flex;
                justify-content: center;
                column-gap: 10px;
                margin-bottom: 20px;

                p {
                    sourcesans: 11;
                    text-align: center;
                    display: block;
                    color: $preto;
                    max-width: 380px;
                }
            }
        }

        .logs2b {
            width: 100%;
            height: 200px;
            background-color: $begeMedio;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $preto;
            sourcesans: 13;
            font-weight: 600;

            form {
                // coment
                margin-top: 20px;

                +below(740px) {
                    width: 90%;
                }
            }

            input {
                border: 0;
                height: 35px;
                width: 400px;
                display: block;
                border-radius: 5px;
                padding: 0 20px
                +below(740px) {
                    width: 100%;
                }
            }

            label {
                text-align: center;
                display: block;
                margin-bottom: 5px;
                margin-top: 15px;
            }

            button {
                margin-top: 15px;
                margin-bottom: 28px;
                display: flex;
                width: 200px;
                height: 35px;
                background-color: $begeEscuro;
                justify-content: center;
                align-items: center;
                color: $branco;
                sourcesans: 16;
                font-weight: 600;
                border-radius: 5px;
                border: 0;
                cursor: pointer;
                margin-left: auto;
                margin-right: auto;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.05);
                }
            }

            .flex_log {
                display: flex;
                justify-content: center;
                column-gap: 10px;
            }

            a {
                text-align: center;
                display: block;
            }
        }
    }

    .not_found {
        .msg {
            background-color: $begeEscuro;
            border-radius: 12px;
            margin-bottom: 35px;

            h1 {
                sourcesans: 24;
                font-weight: 700;
                font-style: normal;
                color: $branco;
                padding-top: 35px;
                padding-bottom: 35px;
                max-width: 440px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .button_voltar {
            background-color: $begeEscuro;
            height: 35px;
            color: $branco;
            sourcesans: 16;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            width: 200px;
            transition: 0.5s all;

            &:hover {
                background-color: $marinho;
            }
        }
    }

    .show {
        margin-top: 50px;

        .vinho {
            color: $vinho;
        }

        h3 {
            sourcesans: 16;
            font-weight: 800;
            color: $verdeMusgo;
        }

        .img1 {
            max-width: 600px;
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }

        .img2 {
            max-width: 600px;
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }

        .resumo {
            background-color: $marinho;
            border-radius: 12px;
            margin-bottom: 30px;

            h1 {
                color: $branco;
                sourcesans: 24;
                font-style: normal;
                font-weight: 600;
                padding-top: 20px;
                margin-top: 0;
                margin-bottom: 5px;
            }

            p {
                sourcesans: 14;
                color: $branco;
                font-style: normal;
                padding-bottom: 20px;
            }
        }

        .bg-vinho {
            background-color: $vinho;
        }

        .buttons {
            display: flex;
            column-gap: 10px;

            +below(550px) {
                flex-direction: column;
                margin: 0 auto;
                row-gap: 15px;
            }

            .print {
                background-color: $verdeMusgo;
                height: 35px;
                color: $branco;
                sourcesans: 16;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                width: 200px;
                transition: 0.5s all;

                &:hover {
                    transform: scale(1.05);
                    background-color: $marinho;
                }
            }

            .button_voltar {
                background-color: $begeEscuro;
                height: 35px;
                color: $branco;
                sourcesans: 16;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                width: 200px;
                transition: 0.5s all;

                &:hover {
                    background-color: $marinho;
                }
            }
        }

        .certified {
            width: 600px;
            background-color: $branco;
            border: 1px solid lightgray;
            margin-bottom: 30px;
            min-height: 365px;
            position: relative;

            .detail_blue {
                background-color: $marinho;
                height: 10px;
                width: 600px;
                margin: -1px;
            }

            .detail_vinho {
                background-color: $vinho;
                height: 10px;
                width: 600px;
                margin: -1px;
                position: relative;
                z-index: 1;
            }

            .imgs {
                margin-top: 15px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                height: 90px;
                width: 550px;
                column-gap: 35px;
                position: relative;
                z-index: 1;
            }

            .infos {
                margin-left: 152px;
                margin-top: 10px;
                margin-bottom: 20px;
                position: relative;
                z-index: 1;

                .nome {
                    sourcesans: 18;
                    font-weight: 700;
                    margin-top: 0;
                    margin-bottom: 0;
                    text-align: left;
                    color: $preto;
                    font-style: normal;
                    text-transform: uppercase;
                }

                .subtrace {
                    sourcesans: 11;
                    margin-top: 0;
                    margin-bottom: 15px;
                    text-align: left;
                    color: $preto;
                    font-style: normal;
                }

                .curso {
                    sourcesans: 14;
                    font-weight: 700;
                    text-align: left;
                    color: $preto;
                    font-style: normal;
                    text-transform: uppercase;
                }
            }

            .cert_rodape {
                width: 570px;
                height: 121px;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
                column-gap: 20px;
                position: relative;
                z-index: 1;

                p {
                    color: $preto;
                    text-align: left;
                    font-style: normal;
                }

                .QRCODE {
                    height: 100%;
                    width: 120px;
                }

                .veracidade {
                    width: 430px;

                    .val {
                        display: flex;
                    }

                    .box_1 {
                        border: solid 1px lightgrey;
                        width: 145px;
                        padding: 5px;
                        padding-left: 10px;

                        .label {
                            sourcesans: 9;
                            margin-top: 0;
                            margin-bottom: 0;
                            text-align: left;
                            color: $preto;
                            font-style: normal;
                        }

                        .date {
                            sourcesans: 14;
                            margin-top: 0;
                            margin-bottom: 0;
                            text-align: left;
                            color: $preto;
                            font-style: normal;
                            text-transform: uppercase;
                        }
                    }

                    .box_2 {
                        border: solid 1px lightgrey;
                        border-left: 0;
                        width: 145px;
                        padding: 5px;
                        padding-left: 10px;

                        .label {
                            sourcesans: 9;
                            margin-top: 0;
                            margin-bottom: 0;
                        }

                        .date {
                            sourcesans: 14;
                            margin-top: 0;
                            margin-bottom: 0;
                            text-transform: uppercase;
                        }
                    }

                    .consulte {
                        sourcesans: 10;
                        width: 300px;
                        margin-top: 30px;
                    }
                }
            }

            .body {
                display: flex;
                column-gap: 40px;
                justify-content: center;
                margin-top: 20px;
                margin-bottom: 20px;
                align-items: flex-end;
                position: relative;
                z-index: 1;

                .table {
                    width: 430px;

                    p {
                        color: $preto;
                        text-align: left;
                        font-style: normal;
                    }

                    .box_3 {
                        padding: 7px;
                        border: solid 1px lightgrey;

                        .label {
                            sourcesans: 9;
                            margin: 0;
                        }

                        .text {
                            sourcesans: 14;
                            margin: 0;
                            line-height: 1.3;
                            text-transform: uppercase;
                        }
                    }
                }

                .release {
                    width: 95px;

                    p {
                        sourcesans: 9;
                        font-weight: 700;
                        text-align: center;
                        color: $marinho;
                    }
                }
            }

            .bg-vencido {
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0.8;
                top: 0;
                left: 0;
                z-index: 0;
                background-image: $img('bg-vencido.svg');
            }
        }
    }
}

.anchor_sair_menu{
    sourcesans: 12;
    color: $preto;
    font-weight: 900;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}