hr {
    margin: 0;
}

.cursos {
    background-color: $begeClaro;
    padding-bottom: 150px;
    padding-top: 30px;

    .tabela {
        .cabec {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            align-items: center;

            +below(600px) {
                row-gap: 30px;
                flex-direction: column;
                margin-bottom: 20px;
            }

            h1 {
                margin: 0;
                color: $verdeMusgo;
                sourcesans: 24;
                font-weight: 700;
            }

            .cadastro {
                background-color: $verdeMusgo;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 150px;
                sourcesans: 16;
                font-weight: 700;
                color: $branco;
                border-radius: 5px;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .line {
            display: flex;
            align-items: center;
            justify-content: space-between;

            +below(1000px) {
                flex-direction: column;
            }

            .flex {
                display: flex;
                column-gap: 30px;
                padding-left: 10px;
                align-items: center;

                +below(1000px) {
                    flex-direction: column;
                    align-items: center;
                    margin-top: 10px;
                }

                .reg {
                    sourcesans: 16;
                    font-weight: 600;
                }

                .name {
                    sourcesans: 16;
                    font-weight: 600;
                }
            }

            .botoes {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                +below(1000px) {
                    margin-bottom: 10px;
                }

                .btn-edit, .btn-delete {
                    width: 40px;
                }

                .editar {
                    height: 23px;
                    padding-right: 10px;
                    padding-left: 10px;
                    cursor: pointer;
                    transition: transform 0.1s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .sair {
                    height: 23px;
                    background-color: darkred;
                    padding: 4px;
                    border-radius: 100%;
                    margin-right: 10px;
                    margin-left: 10px;
                    cursor: pointer;
                    transition: transform 0.1s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .fichab {
        .cabec {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            align-items: center;

            h1 {
                margin: 0;
                color: $verdeMusgo;
                sourcesans: 24;
                font-weight: 700;
            }
        }

        .card {
            background-color: $branco;
            max-width: 100%;

            .wrapper {
                padding-top: 65px;

                .campo {
                    position: relative;
                    max-width: 100%;
                    margin-bottom: 30px;

                    input {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        height: 40px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 89%;
                        margin: 0 auto;
                        display: block;
                    }

                    .label {
                        position: absolute;
                        top: -17px;
                        left: 80px;
                        z-index: 1;
                        sourcesans: 12;
                    }

                    select {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        height: 40px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 89%;
                        margin: 0 auto;
                        display: block;
                    }

                    img {
                        padding-left: 6.5%;
                        margin-bottom: 5px;
                    }

                    button {
                        background-color: $begeEscuro;
                        margin-top: 5px;
                        border: 0;
                        height: 40px;
                        color: $branco;
                        margin-left: 5.5%;
                        sourcesans: 16;
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        transition: 0.5s all;
                        cursor: pointer;

                        &:hover {
                            background-color: $marinho;
                        }
                    }
                }

                .campo2 {
                    position: relative;
                    max-width: 89%;
                    display: flex;
                    margin: 0 auto;
                    margin-bottom: 40px;

                    +below(950px) {
                        flex-direction: column;
                        align-items: center;
                        row-gap: 20px;
                    }

                    input {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        height: 40px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 80%;
                        margin: 0 auto;
                        display: block;
                    }

                    .label {
                        position: absolute;
                        top: -30px;
                        left: 15px;
                        z-index: 1;
                        sourcesans: 12;
                    }

                    a {
                        width: 20%;
                    }

                    .button_imagem {
                        background-color: $begeEscuro;
                        height: 40px;
                        color: $branco;
                        sourcesans: 16;
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        transition: 0.5s all;

                        &:hover {
                            background-color: $marinho;
                        }
                    }
                }

                .botoes {
                    display: flex;
                    column-gap: 10px;
                    margin-top: 10px;
                    padding-bottom: 50px;
                    margin-left: 5.5%;

                    +below(600px) {
                        flex-direction: column;
                        row-gap: 20px;
                        align-items: center;
                        margin: 0;
                    }

                    .button_voltar {
                        background-color: $begeEscuro;
                        height: 40px;
                        color: $branco;
                        sourcesans: 16;
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        width: 150px;
                        transition: 0.5s all;

                        &:hover {
                            background-color: $marinho;
                        }
                    }

                    .button_insere {
                        background-color: $verdeMusgo;
                        height: 40px;
                        color: $branco;
                        sourcesans: 16;
                        border: 0;
                        cursor: pointer;
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        width: 150px;
                        transition: 0.5s all;

                        &:hover {
                            background-color: $marinho;
                            transform: scale(1.04);
                        }
                    }
                }
            }
        }
    }

    .fichac {
        .cabec {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;
            align-items: center;

            h1 {
                margin: 0;
                color: $verdeMusgo;
                sourcesans: 24;
                font-weight: 700;
            }
        }

        .card {
            background-color: $branco;
            max-width: 100%;

            .wrapper {
                padding-top: 65px;

                .id {
                    display: flex;
                    align-items: center;
                    margin-left: 6.7%;
                    margin-bottom: 10px;

                    .id1 {
                        sourcesans: 12;
                    }

                    .sub {
                        sourcesans: 16;
                        font-weight: 900;
                        margin-left: 15px;
                    }
                }

                .campo {
                    position: relative;
                    max-width: 100%;
                    margin-bottom: 30px;

                    input {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        height: 40px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 89%;
                        margin: 0 auto;
                        display: block;
                    }

                    .label {
                        position: absolute;
                        top: -30px;
                        left: 80px;
                        z-index: 1;
                        sourcesans: 12;
                    }

                    select {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        height: 40px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 89%;
                        margin: 0 auto;
                        display: block;
                    }
                }

                .imagem {
                    margin-top: 35px;
                    width: 430px;
                    height: 90px;
                    margin-left: 6%;
                    margin-bottom: 20px;

                    +below(1000px) {
                        width: 80%;
                    }

                    img {
                        width: 100%;
                    }
                }

                .campo2 {
                    position: relative;
                    max-width: 89%;
                    display: flex;
                    margin: 0 auto;
                    margin-bottom: 40px;

                    +below(950px) {
                        flex-direction: column;
                        align-items: center;
                        row-gap: 20px;
                    }

                    input {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        height: 40px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 80%;
                        margin: 0 auto;
                        display: block;
                    }

                    .label {
                        position: absolute;
                        top: -143px;
                        left: 14px;
                        z-index: 1;
                        sourcesans: 12;
                    }

                    a {
                        width: 20%;

                        +below(1100px) {
                            width: 200px;
                        }
                    }

                    .button_imagem {
                        background-color: $begeEscuro;
                        height: 40px;
                        color: $branco;
                        sourcesans: 16;
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        transition: 0.5s all;

                        &:hover {
                            background-color: $marinho;
                        }
                    }
                }

                .botoes {
                    display: flex;
                    column-gap: 10px;
                    margin-top: 10px;
                    padding-bottom: 50px;
                    margin-left: 5.5%;

                    +below(600px) {
                        flex-direction: column;
                        row-gap: 20px;
                        align-items: center;
                        margin: 0;
                    }

                    .button_voltar {
                        background-color: $begeEscuro;
                        height: 40px;
                        color: $branco;
                        sourcesans: 16;
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        width: 150px;
                        transition: 0.5s all;

                        &:hover {
                            background-color: $marinho;
                        }
                    }

                    .button_insere {
                        background-color: $verdeMusgo;
                        height: 40px;
                        color: $branco;
                        sourcesans: 16;
                        font-weight: 700;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        width: 150px;
                        transition: 0.5s all;

                        &:hover {
                            background-color: $marinho;
                            transform: scale(1.04);
                        }
                    }
                }
            }
        }
    }

    .pages {
        padding-bottom: 90px;

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;

            li:first-child, li:last-child {
                display: none;
            }

            li {
                column-gap: 15px;
                margin-top: 80px;
                list-style: none;
                color: $branco;
                display: flex;
                align-content: center;
                justify-content: center;
                background-color: $begeMedio;
                width: 20px;
                height: 20px;
                sourcesans: 16;
                font-weight: 900;
                margin-right: 3px;

                &:hover {
                    color: $marinho;
                }
            }

            .active {
                color: $marinho;
                cursor: default;
            }
        }
    }
}
