.geral {
    background-color: $begeClaro;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 200px;
    padding-top: 30px;

    h1 {
        margin: 0;
    }

    .emitidos {
        width: 560px;
        padding-top: 30px;
        margin-bottom: 60px;
        margin-left: 20px;
        margin-right: 20px;

        h1 {
            color: $verdeMusgo;
            sourcesans: 24;
            font-weight: 900;
            margin-bottom: 25px;

            +below(530px) {
                sourcesans: 23;
                font-weight: 900;
                text-align: center;
            }
        }

        hr {
            margin: 0;
        }

        .line {
            display: flex;
            height: 50px;
            margin: 0;
            column-gap: 20px;
            align-items: center;
            sourcesans: 16;
            font-weight: 600;

            +below(530px) {
                height: auto;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
            }

            a {
                margin-right: 0;
                margin-left: auto;

                img {
                    cursor: pointer;
                    transition: transform 0.1s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                +below(530px) {
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .vencimento {
        width: 560px;
        padding-top: 30px;
        margin-left: 20px;
        margin-right: 20px;

        .link-relatorios {
            width: 230px;
            height: 50px;

            .button {
                width: 230px;
                height: 50px;
                sourcesans: 24;
                color: $branco;
                font-weight: 600;
                background-color: $begeEscuro;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0;
                border-radius: 8px;
                margin-bottom: 40px;
                transition: all 0.3s;

                &:hover {
                    background-color: $marinho;
                }

                +below(500px) {
                    margin: 0;
                    margin-top: 30px;
                    height: 40px;
                    width: 90%;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }

        h1 {
            color: $verdeMusgo;
            sourcesans: 24;
            font-weight: 900;
            margin-bottom: 25px;

            +below(530px) {
                sourcesans: 23;
                font-weight: 900;
                text-align: center;
            }
        }

        hr {
            margin: 0;
        }

        .line {
            display: flex;
            justify-content: flex-end;
            height: 50px;
            margin: 0;
            column-gap: 20px;
            align-items: center;
            sourcesans: 16;
            font-weight: 600;

            +below(530px) {
                height: auto;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
            }

            .sentence {
                margin-right: auto;
                margin-left: 0;
            }

            a {
                +below(530px) {
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 10px;
                }

                img {
                    margin-right: 0;
                    margin-left: auto;
                    cursor: pointer;
                    transition: transform 0.1s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.certificado_venc {
    display: flex;
    background-color: $begeClaro;
    padding-left: 14%;
    padding-bottom: 300px;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;

    +below(700px) {
        padding-left: 0;
    }

    .card1 {
        margin-top: 50px;
        width: 560px;

        +below(700px) {
            margin-right: auto;
            margin-left: auto;
            width: 90%;
        }

        h1 {
            margin-top: 0;
            color: $verdeMusgo;
            sourcesans: 24;
            font-weight: 700;
        }

        h4 {
            sourcesans: 16;
            font-weight: 900;
            font-style: italic;
            margin: 0;
            margin-top: 20px;
        }

        .flex {
            display: flex;
            align-items: flex-end;

            p {
                margin: 0;
            }

            .label {
                sourcesans: 12;
            }

            .dados {
                sourcesans: 16;
            }
        }

        .button {
            color: $vinho;
            border: 1px solid $vinho;
            border-radius: 8px;
            margin-top: 30px;
            width: 300px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            sourcesans: 16;
            transition: all 0.5s;

            +below(500px) {
                width: 95%;
                margin-right: auto;
                margin-left: auto;
            }

            &:hover {
                transform: scale(1.07);
                background-color: $vinho;
                color: $branco;
            }

            img {
                height: 20px;
                padding-left: 7px;
            }
        }
    }

    .card2 {
        margin-top: 90px;
        width: 400px;
        background-color: $branco;
        height: auto;

        +below(700px) {
            margin-right: auto;
            margin-left: auto;
            width: 80%;
            height: 270px;
        }

        h3 {
            color: $verdeMusgo;
            sourcesans: 16;
            font-weight: 900;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 50px;
            margin: 0;

            +below(500px) {
                text-align: center;
                padding: 0;
                padding-top: 20px;
            }
        }

        p {
            padding-left: 50px;
            padding-right: 50px;
            sourcesans: 14;

            +below(500px) {
                text-align: center;
                padding: 0;
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .button {
            margin-left: 50px;
            margin-right: 50px;
            sourcesans: 16;
            margin-top: 30px;
            background-color: $verdeMusgo;
            width: 300px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $branco;
            border: 0;
            border-radius: 8px;
            margin-bottom: 25px;
            transition: all 0.3s;

            &:hover {
                background-color: $marinho;
            }

            +below(500px) {
                margin: 0;
                margin-top: 30px;
                height: 40px;
                width: 90%;
                margin-right: auto;
                margin-left: auto;
            }
        }

        .flex {
            display: flex;
            height: 50px;
            margin-top: 30px;
            margin-left: 50px;
            margin-right: 50px;

            +below(500px) {
                flex-direction: column;
                height: auto;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }

            input {
                height: 100%;
                border: 0;
                border-radius: 8px;
                background-color: $begeMedio;
                padding: 20px;
                max-width: 200px;
                sourcesans: 18;
                font-weight: 900;
                text-align: center;

                &::placeholder {
                    opacity: 1;
                    color: $preto;
                }

                +below(500px) {
                    height: 25px;
                    width: 100%;
                    max-width: none;
                }
            }

            .button2 {
                sourcesans: 16;
                background-color: $verdeMusgo;
                width: 100px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $branco;
                border: 0;
                border-radius: 8px;
                margin-bottom: 25px;
                transition: all 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: $marinho;
                }

                +below(500px) {
                    height: 35px;
                    width: 100%;
                }
            }
        }
    }

    .card3 {
        margin-top: 90px;
        width: 400px;
        background-color: $branco;
        height: 230px;

        +below(700px) {
            margin-right: auto;
            margin-left: auto;
            width: 80%;
            height: 270px;
        }

        .thumbs {
            display: flex;
            margin-top: 50px;
            margin-left: 50px;
            align-items: center;

            +below(500px) {
                flex-direction: column;
                align-items: center;
                margin-left: auto;
            }

            h3 {
                color: $verdeMusgo;
                sourcesans: 16;
                font-weight: 900;
                padding-right: 50px;
                padding-left: 20px;
                margin: 0;

                +below(500px) {
                    text-align: center;
                    padding: 0;
                    padding-top: 20px;
                }
            }

            img {
                height: 21px;
            }
        }

        .flex {
            display: flex;
            margin-left: 50px;
            margin-right: 50px;
            align-items: flex-end;
            margin-top: 20px;

            +below(500px) {
                flex-direction: column;
                align-items: center;
            }

            .label {
                sourcesans: 12;
                margin: 0;
            }

            .dados {
                sourcesans: 16;
                font-weight: 700;
                margin: 0;
            }
        }

        .button {
            margin-left: 50px;
            margin-right: 50px;
            sourcesans: 16;
            margin-top: 30px;
            background-color: $verdeMusgo;
            width: 300px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $branco;
            border: 0;
            border-radius: 8px;
            margin-bottom: 25px;
            transition: all 0.3s;

            &:hover {
                background-color: $marinho;
            }

            +below(500px) {
                margin: 0;
                margin-top: 30px;
                height: 40px;
                width: 90%;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}
