.externa {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 170px;

    .imagem {
        background-image: $img('img-cabecalho.png');
        background-repeat: no-repeat;
        height: 420px;
        width: 740px;
        position: relative;
        background-size: cover;
        background-position-x: -130px;

        +below(740px) {
            background-position-x: -300px;
        }

        .img {
            position: absolute;
            background-color: $branco;
            background-image: $img('marca-SBC-selo.svg');
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position-y: 21px;
            background-position-x: center;
            background-size: 75%;
            height: 180px;
            width: 180px;
            top: 130px;
            right: 1px;
            z-index: 2;

            +below(740px) {
                left: 25px;
                height: 100px;
                width: 100px;
                background-position-y: center;
            }
        }

        .menus {
            p {
                margin: 0;
                color: #00008b;
                sourcesans: 12;
            }

            a {
                color: #00008b;
                sourcesans: 12;
                margin-top: 0;
                margin-left: 10px;

                &:hover {
                    color: darkred;
                }
            }

            button {
                background-color: transparent;
                border: 0;
                color: #00008b;
                sourcesans: 12;
                display: flex;
                align-items: center;
                cursor: pointer;

                img {
                    margin-left: 7px;
                    background-color: darkred;
                    height: 12px;
                    border-radius: 100%;
                    padding: 2px;
                }

                &:hover {
                    color: darkred;
                }
            }
        }
    }

    .father {
        width: 600px;
        margin-right: auto;
        margin-left: auto;

        +below(740px) {
            width: 90%;
        }

        h3 {
            font-size: 24px;
        }

        h1 {
            sourcesans: 36;
            font-weight: 900;
            font-style: italic;
            color: $marinho;
            margin-top: 45px;
            margin-bottom: 30px;
            text-align: center;

            +below(740px) {
                sourcesans: 28;
                font-weight: 900;
            }
        }

        p {
            sourcesans: 18;
            font-weight: 900;
            font-style: italic;
            color: $marinho;
            text-align: center;
            margin-top: 0;
            margin-bottom: 15px;

            +below(740px) {
                width: 90%;
                sourcesans: 17;
                font-weight: 900;
            }
        }

        .card {
            max-width: 600px;
            margin-bottom: 30px;

            .header {
                background-color: $verdeMusgo;
                color: $branco;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                h2 {
                    sourcesans: 16;
                    font-weight: 600;
                    text-align: center;
                }
            }

            .blue {
                background-color: $marinho !important;
            }

            .vinho {
                background-color: $vinho !important;
            }

            .body {
                background-color: $begeMedio;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                .wrapper {
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 20px;
                    padding-bottom: 20px;

                    .hr {
                        margin-bottom: 20px;
                        background-color: grey;
                        opacity: 0.6;
                        border-radius: 2px;
                        height: 2px;
                        width: 100%;
                    }

                    .hr2 {
                        margin-bottom: 20px;
                        margin-top: 0;
                        background-color: grey;
                        opacity: 0.6;
                        border-radius: 2px;
                        height: 2px;
                        width: 100%;
                    }

                    .line {
                        width: 100%;
                        display: flex;
                        margin-left: auto;
                        margin-right: auto;
                        align-items: center;
                        justify-content: space-between;
                        column-gap: 25px;
                        margin-bottom: 20px;

                        +below(740px) {
                            flex-direction: column;
                        }

                        .reg {
                            sourcesans: 16;
                            color: black;
                            font-weight: 600;
                            margin: 0;
                            font-style: normal;

                            +below(740px) {
                                margin: 5px auto;
                            }
                        }

                        .desc {
                            sourcesans: 16;
                            color: black;
                            font-weight: 600;
                            text-align: left;
                            margin: 0;
                            font-style: normal;

                            +below(740px) {
                                margin: 5px auto;
                                text-align: center;
                            }
                        }

                        img {
                            height: 22px;

                            +below(740px) {
                                margin: 10px auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
