hr {
    margin: 0;
}

.relatorios {
    background-color: $begeClaro;
    padding-top: 30px;
    padding-bottom: 150px;

    .center2 {
        width: 80%;
        margin: 0 auto;

        .tabela {
            margin-bottom: 10px;

            .cabec {
                padding-top: 30px;
                display: flex;
                justify-content: space-between;
                padding-bottom: 20px;
                align-items: center;

                +below(600px) {
                    row-gap: 30px;
                    flex-direction: column;
                    margin-bottom: 20px;
                }

                h1 {
                    margin: 0;
                    color: $verdeMusgo;
                    sourcesans: 24;
                    font-weight: 700;
                }
            }

            .filtros {
                margin: 30px 0;
                width: 100%;
                background-color: $branco;
                padding: 60px 50px 40px 50px;

                form.relatorio {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .datas {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 10px;

                        .campo-data {
                            position: relative;
                            margin-right: 10px;

                            label {
                                position: absolute;
                                top: -16px;
                                left: 10px;
                                sourcesans: 12;
                            }

                            input {
                                background-color: $begeMedio;
                                border: 0;
                                border-radius: 6px;
                                height: 40px;
                                padding-left: 10px;
                                sourcesans: 16;
                                font-weight: 600;
                                width: 100%;
                            }
                        }

                        .btn-consultar-totais {
                            width: 250px;
                            height: 40px;
                            background-color: transparent;
                            border: 1px solid $marinho;
                            border-radius: 6px;
                            color: $marinho;
                            sourcesans: 16;
                            font-weight: 700;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            transition: 0.3s all;

                            &:hover, &.active {
                                border: 1px solid $vinho;
                                background-color: $vinho;
                                color: $branco;
                            }
                        }
                    }

                    .radios {
                        position: relative;
                        margin: 5px 0;

                        label {
                            sourcesans: 16;
                            font-weight: 600;
                            margin-right: 20px;
                        }
                    }

                    .campo {
                        width: 70%;

                        select {
                            background-color: $begeMedio;
                            border: 0;
                            border-radius: 6px;
                            height: 40px;
                            padding-left: 10px;
                            sourcesans: 16;
                            font-weight: 600;
                            width: 100%;
                        }
                    }

                    .botoes {
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        .btn-relatorio {
                            background-color: $marinho;
                            width: 250px;
                            height: 40px;
                            color: $branco;
                            sourcesans: 16;
                            font-weight: 600;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            border-radius: 6px;
                            margin-right: 10px;
                            transition: 0.5s all;

                            &:hover {
                                background-color: $vinho;
                            }
                        }

                        .link-limpar {
                            background-color: $marinho;
                            width: 150px;
                            height: 40px;
                            color: $branco;
                            sourcesans: 16;
                            font-weight: 600;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 6px;
                            margin-right: 10px;
                            transition: 0.5s all;

                            &:hover {
                                background-color: $vinho;
                            }
                        }

                        .link-voltar {
                            background-color: $begeEscuro;
                            width: 150px;
                            height: 40px;
                            color: $branco;
                            sourcesans: 16;
                            font-weight: 600;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 6px;
                            margin-right: 10px;
                            transition: 0.5s all;

                            &:hover {
                                background-color: $marinho;
                            }
                        }
                    }
                }
            }

            .resultados {
                padding-top: 30px;

                h1 {
                    margin: 0;
                    color: $verdeMusgo;
                    sourcesans: 24;
                    font-weight: 700;
                }

                .periodo {
                    sourcesans: 18;
                    margin: 15px 0 0 0;

                    > span {
                        font-weight: 800;
                    }
                }

                .titulo {
                    sourcesans: 18;
                    margin: 0;
                    line-height: 1.3;

                    > span {
                        font-size: 24;
                        font-weight: 800;
                    }
                }

                .header {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    padding-bottom: 5px;
                    border-bottom: 2px solid $begeEscuro;

                    .curso, .instituicao, .cidade, .data, .n-alunos {
                        sourcesans: 12;
                        color: $begeEscuro;
                        margin: 0;
                    }

                    .curso {
                        width: 30%;
                    }

                    .instituicao {
                        width: 30%;
                    }

                    .cidade {
                        width: 25%;
                    }

                    .data {
                        width: 10%;
                    }

                    .n-alunos {
                        width: 5%;
                        text-align: right;
                    }
                }

                .line {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin: 5px 0;

                    .curso, .instituicao, .cidade, .data, .n-alunos {
                        sourcesans: 16;
                        color: $preto;
                        margin: 0;
                    }

                    .curso {
                        width: 30%;
                    }

                    .instituicao {
                        width: 30%;
                    }

                    .cidade {
                        width: 25%;
                    }

                    .data {
                        width: 10%;
                    }

                    .n-alunos {
                        width: 5%;
                        text-align: right;
                    }

                    .total {
                        margin: 0;
                        width: 100%;
                        sourcesans: 18;
                        color: $preto;
                        font-weight: 600;
                        text-align: right;
                    }
                }

                .linha-header {
                    border: none;
                    border-bottom: 2px solid $begeEscuro;
                }

                .link-extrair-planilha {
                    width: 300px;
                    height: 40px;
                    margin: 20px 0;
                    background-color: $marinho;
                    color: $branco;
                    sourcesans: 16;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    border-radius: 6px;
                    transition: 0.5s all;

                    &:hover {
                        background-color: $vinho;
                    }
                }
            }
        }
    }
}
