hr {
    margin: 0;
}

.turmas {
    background-color: $begeClaro;
    padding-top: 30px;

    .global {
        margin-bottom: 50px;

        form.filtro-data {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            input {
                width: auto;
                height: 30px;
                padding: 0 10px;
                background-color: $begeMedio;
                border: 0;
                border-radius: 6px;
                sourcesans: 16;
                font-weight: 600;
            }

            button {
                background-color: $begeEscuro;
                height: 30px;
                padding: 0 10px;
                margin-left: 5px;
                border-radius: 6px;
                sourcesans: 14;
                color: $branco;
                display: flex;
                align-items: center;
                outline: none;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: $marinho;
                }
            }
        }

        .flex {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            align-items: center;

            h1 {
                margin: 0;
                color: $verdeMusgo;
                sourcesans: 24;
                font-weight: 700;
            }

            .cadastro {
                background-color: $verdeMusgo;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 150px;
                sourcesans: 16;
                font-weight: 700;
                color: $branco;
                border-radius: 5px;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .line {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 25px;
            margin-bottom: 25px;

            +below(1250px) {
                flex-direction: column;
            }

            .flex {
                width: 48%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0;
                margin: 0;

                .date {
                    width: 16%;
                    margin: 0;
                    sourcesans: 16;
                    font-weight: 900;

                    +below(1250px) {
                        text-align: center;
                        width: 100%;
                    }
                }

                .id {
                    width: 10%;
                    margin: 0;
                    sourcesans: 16;
                    font-weight: 600;
                    text-align: center;

                    +below(1250px) {
                        text-align: center;
                        margin-top: 15px;
                        margin-bottom: 15px;
                        width: 100%;
                    }
                }

                .title {
                    width: auto;
                    margin: 0;
                    sourcesans: 16;
                    font-weight: 600;
                    padding: 0 10px;

                    +below(1250px) {
                        text-align: center;
                        margin-top: 15px;
                        margin-bottom: 15px;
                        width: 100%;
                    }
                }
            }

            .flex2 {
                width: 48%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0;
                margin: 0;

                .link {
                    width: 40%;
                    pointer-events: none;
                    cursor: default;

                    +below(1250px) {
                        text-align: center;
                        margin-bottom: 15px;
                        width: 100%;
                    }

                    p {
                        margin: 0;
                        sourcesans: 14;
                        font-weight: 700;
                        color: $verdeMusgo;
                    }
                }

                .manager {
                    width: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    +below(1250px) {
                        justify-content: center;
                        margin-top: 10px;
                        width: 100%;
                    }

                    .btn-edit, .btn-delete {
                        width: 40px;
                    }

                    .editar {
                        height: 23px;
                        padding-right: 10px;
                        padding-left: 10px;
                        cursor: pointer;
                        transition: transform 0.1s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    .sair {
                        height: 23px;
                        background-color: darkred;
                        padding: 4px;
                        border-radius: 100%;
                        margin-right: 10px;
                        margin-left: 10px;
                        cursor: pointer;
                        transition: transform 0.1s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }

    .pages {
        display: flex;
        column-gap: 3px;
        justify-content: center;
        padding-bottom: 90px;

        div {
            color: $branco;
            display: flex;
            align-content: center;
            justify-content: center;
            background-color: $begeMedio;
            width: 20px;
            height: 20px;
            sourcesans: 16;
            font-weight: 900;

            &:hover {
                color: $marinho;
            }
        }

        .active {
            color: $marinho;
        }
    }
}

// TELA 8
.cert_novo {
    .ficha {
        padding-top: 30px;
        padding-bottom: 100px;

        h1 {
            sourcesans: 24;
            color: $verdeMusgo;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .interna {
            padding-bottom: 40px;
            background-color: white;

            .linha1 {
                padding-top: 65px;
                padding-left: 50px;
                width: 800px;
                display: flex;
                column-gap: 10px;

                .campo {
                    position: relative;

                    label {
                        position: absolute;
                        top: -16px;
                        left: 10px;
                        sourcesans: 12;
                    }

                    input {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        height: 40px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 100%;
                    }
                }

                .field1 {
                    width: 50%;
                }

                .field2 {
                    width: 24%;
                }
            }

            .linha2 {
                margin-top: 30px;
                padding-left: 50px;
                width: 800px;
                display: flex;

                .campo {
                    position: relative;

                    label {
                        position: absolute;
                        top: -16px;
                        left: 10px;
                        sourcesans: 12;
                    }

                    select {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        height: 40px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 100%;
                    }
                }

                .field1 {
                    width: 100%;
                }
            }

            .linha3 {
                margin-top: 30px;
                padding-left: 50px;
                width: 800px;
                display: flex;

                .campo {
                    position: relative;

                    label {
                        position: absolute;
                        top: -16px;
                        left: 10px;
                        sourcesans: 12;
                    }

                    textarea {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        height: 80px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 100%;
                        padding: 10px;
                    }
                }

                .field1 {
                    width: 100%;
                }
            }

            .linha4 {
                margin-top: 30px;
                padding-left: 50px;
                width: 100%;
                display: flex;
                height: 63px;
                margin-bottom: 20px;

                .campo {
                    position: relative;
                    margin-right: 3px;

                    label {
                        position: absolute;
                        top: -16px;
                        left: 10px;
                        sourcesans: 12;
                    }

                    .label1 {
                        top: 2px !important;
                        left: 25px !important;
                        text-align: center;
                        sourcesans: 10;
                    }

                    input {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 100%;
                        padding: 10px;
                    }

                    .input1 {
                        height: 30px;
                        margin-bottom: 3px;
                    }

                    .link-buscar-cpf {
                        background-color: $begeEscuro;
                        height: 30px;
                        padding: 0 10px;
                        margin-left: 3px;
                        border-radius: 6px;
                        sourcesans: 14;
                        color: $branco;
                        display: flex;
                        align-items: center;

                        &:hover {
                            background-color: $marinho;
                        }
                    }

                    .input2 {
                        height: 63px;
                        text-align: center;
                        padding-top: 30px;
                    }
                }

                .field1 {
                    width: 60%;
                }

                .field2 {
                    width: 8%;
                }

                .field3 {
                    width: 20%;
                }

                .button {
                    background-color: $verdeMusgo;
                    height: 65px;
                    color: $branco;
                    sourcesans: 16;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 6px;
                    width: 120px;
                    transition: 0.5s all;

                    &:hover {
                        background-color: $marinho;
                    }
                }
            }

            .results {
                margin-bottom: 20px;
                margin-left: 50px;
                margin-right: 50px;

                .newLine {
                    background-color: #d1d9db;
                    border-radius: 6px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    height: 30px;
                    margin-bottom: 5px;
                    align-items: center;
                    padding-left: 10px;
                    padding-right: 10px;

                    p {
                        margin: 0;
                        sourcesans: 16;
                        font-weight: 500;
                        width: 30%;
                    }

                    .flex2 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        margin: 0;
                        width: 10%;

                        p {
                            padding: 0;
                            text-align: center;
                        }
                    }

                    .enviado {
                        sourcesans: 14;
                        color: $verdeMusgo;
                        font-weight: 600;
                    }

                    .link-excluir-aluno-certificado {
                        width: 5%;

                        .sair {
                            height: 20px;
                            background-color: darkred;
                            padding: 4px;
                            border-radius: 100%;
                            margin-right: 10px;
                            margin-left: 10px;
                        }
                    }

                    .email {
                        sourcesans: 14;
                        font-weight: 900;
                        color: $verdeMusgo;

                        img {
                            height: 13px;
                            margin-bottom: -2px;
                        }
                    }

                    .status-emails {
                        padding-left: 5%;
                        width: 25%;
                    }
                }
            }

            .hr {
                background-color: $verdeMusgo;
                width: 91.5%;
                margin-left: auto;
                margin-right: auto;
                height: 3px;
                border-radius: 50px;
                margin-bottom: 20px;
            }

            .linha5 {
                margin-left: 50px;
                margin-bottom: 30px;
                position: relative;

                label {
                    padding-left: 5px;
                }

                .container_checkbox {
                    display: block;
                    position: relative;
                    padding-left: 25px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                input[type='checkbox'] {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                .checkmark {
                    position: absolute;
                    top: 0px;
                    left: 0;
                    height: 17px;
                    width: 17px;
                    cursor: pointer;
                    border: solid 2px #808080;
                }

                .checkmark:after {
                    content: '';
                    position: absolute;
                    display: none;
                }

                input:checked ~ .checkmark:after {
                    display: block;
                }

                .checkmark:after {
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    border: solid 3px white;
                    background-color: black;
                }
            }

            .linha6 {
                width: 91.5%;
                margin-right: auto;
                margin-bottom: 30px;
                margin-left: auto;

                .flex3 {
                    display: flex;
                    margin: 0;
                    column-gap: 5px;
                    margin-bottom: 5px;

                    input {
                        background-color: $begeMedio;
                        border: 0;
                        border-radius: 6px;
                        height: 40px;
                        padding-left: 10px;
                        sourcesans: 16;
                        font-weight: 600;
                        width: 50%;
                    }
                }

                textarea {
                    background-color: $begeMedio;
                    border: 0;
                    border-radius: 6px;
                    height: 160px;
                    padding-left: 10px;
                    sourcesans: 16;
                    font-weight: 600;
                    width: 100%;
                    padding: 10px;
                }
            }

            .flex {
                display: flex;
                column-gap: 10px;
                margin-left: 50px;
                padding-bottom: 20px;

                .novo_cert {
                    background-color: $verdeMusgo;
                    height: 40px;
                    color: $branco;
                    sourcesans: 16;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 6px;
                    width: 250px;
                    transition: 0.5s all;
                    border: 0;
                    cursor: pointer;

                    &:hover {
                        background-color: $marinho;
                    }
                }

                .button_voltar {
                    background-color: $begeEscuro;
                    height: 40px;
                    color: $branco;
                    sourcesans: 16;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 6px;
                    width: 150px;
                    transition: 0.5s all;

                    &:hover {
                        background-color: $marinho;
                    }
                }
            }

            .botoes_vermelhos {
                display: flex;
                margin-left: 50px;
                width: 700px;
                column-gap: 10px;
                margin-bottom: 40px;

                .button_ver1 {
                    background-color: $vinho;
                    color: $branco;
                    border: 0;
                    border-radius: 6px;
                    width: 350px;
                    height: 60px;
                    sourcesans: 16;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: darkred;
                    }

                    img {
                        padding-left: 5px;
                        height: 15px;
                    }
                }
            }
        }
    }
}

.linha_new {
    margin-top: 30px;
    padding-left: 50px;
    width: 800px;
    display: flex;
    column-gap: 10px;

    .campo {
        position: relative;
        width: 50%;

        label {
            position: absolute;
            top: -16px;
            left: 10px;
            sourcesans: 12;
        }

        input {
            background-color: $begeMedio;
            border: 0;
            border-radius: 6px;
            height: 40px;
            padding-left: 10px;
            sourcesans: 16;
            font-weight: 600;
            width: 100%;
        }
    }
}
